.ContainerDetail{
    width: 900px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 650px));
    margin: auto;
    position: relative;
    align-items: center;
    justify-items: start;
}
.ContainerDetail img{
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.46);
    margin: 50px 0;
    grid-column: 1;
}
.ContainerDetail .ContainerText{
    font-size: 1.4em;
    margin: 20px;
    position: relative;
    grid-column: 2;
    grid-row: 1;
}

.ContainerDetail .ContainerText .preco{
    color: rgb(100, 97, 0);
    font-size: 1.5em;
    font-family: serif,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}
.ContainerDetail .ContainerText .nome{
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    margin: 10px 0px;
    font-weight: bolder;
    color: rgb(33, 33, 33);
}

.ContainerDetail .ContainerText .desc{
    font-size: 1.1em;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;   
    color: rgb(49, 49, 49);
}

.comprar{
    padding: 12px;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background: #8977ffc5;
    font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.535);
    grid-row: 1;
    grid-column: 2;
    position: absolute;
}

.comprar:hover{
    transition: .5s transform;
    transform: scale(1.1);
    background: #8877FF;
}